body, html {
    width: 100%;
    height: 100%;
}

:root {
    --rowHeight: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

header {
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: xx-large;
}
main {
    width: 100%;
    height: 90%;
    background-color: gray;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

table {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    outline: 2px solid black;
}

th {
    background-color: black;
    color: white;
    font-weight: 800;
    font-size: x-large;
}

.column-1 { width: 30%; }
.column-2 { width: 30%; }
.column-3 { width: 10%; }
.column-4 { width: 15%; }
.column-5 { width: 15%; }

tr {
    background-color: white;
    color: black;
    font-weight: 500;
    font-size: large;
    height: var(--rowHeight);
}

td {
    padding-left: 10px;
}

main > .add-book-btn {
    width: 10%;
    height: 10%;
    align-self: flex-end;
    font-size: large;
    font-weight: bold;
}

dialog {
    position: absolute;
    align-self: center;
    justify-self: center;
}

.delete-btn, .status-btn {
    width: 100%;
    height: var(--rowHeight);
    font-weight: 600;
}

.td-delete,.td-status {
    padding-left: 0;
}

.td-delete {
    padding: 0;
    margin: 0;
    background-color: red;
}

dialog {
    width: max(30%, 500px);
    padding: 10px;
    border-radius: 10px;
}

form, .delete-dialog-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

form div {
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: large;
    gap: 10px;
}

h2 {
    align-self: center;
}

#warning-text {
    font-size: large;
    align-self: center;
}

#book, #author, #pages {
    flex: 1;
}

.btns {
    flex: auto;
    align-self: flex-end;
    display: flex;
    width: 50%;
    gap: 10px;
}

.btns button {
    flex: 1;
    height: 25px;
    border-radius: 10px;
    font-weight: 600;
}